.navbar {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 36px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.025) 1.95px 1.95px 2.6px; // border: 1px solid black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-weight: bold;
    color: #e83a4b;
    cursor: pointer;
}
.logo{
    width: 80px;
}